*{
    padding:0%;
    margin: 0;

}
body{
    background-color: aqua;
}
.subject{
    position: relative;
    padding-top: 50px;
}
table{
    position: relative;
    padding-top: 60px;
}
input[type=submit], input[type=reset]{
    position: relative;
    display: inline-block;
    padding: 8px 8px;
    background-color: black;
    color: beige;
}
input[type=submit]:hover, input[type=reset]:hover{
    color: brown;
}
.btn{
    position: relative;
    text-align: center;
    top: 33px;
    
}
button[type=submit]{
    background-color: black;
    color: antiquewhite;
    padding: 4px 4px;
}
button[type=submit]:hover{
    color: brown;
}