*{
    padding:0;
    margin: 0;

}
body{
    background-color: rgb(42, 161, 212)
}


input[type=submit], input[type=reset] {
    position: relative;
    top:7px;
    display: inline-block;
    padding: 7px 8px;
    background-color: black;
    color: beige;
}
input[type=submit]:hover, input[type=reset]:hover{
    color: brown;
}
input[type=radio]{
    background-color: brown;
}

button[type=submit]{
    position: relative;
    top:10px;
    background-color: black;
    color: antiquewhite;
    padding: 6px 6px;
}
button[type=submit]:hover{
    color: brown;
}