*{
    padding:0%;
    margin: 0;

}
body{
    background-color: rgb(42, 161, 212);
}
.container{
    padding-top: 10%;
  
}


input[type=submit], input[type=reset]{
    position: relative;
    display: inline-block;
    padding: 8px 8px;
    background-color: black;
    color: beige;
}
input[type=submit]:hover, input[type=reset]:hover{
    color: brown;
}


button[type=submit]{
    position: relative;
    background-color: black;
    color: antiquewhite;
    padding: 10px;
    top: 10px;
}
button[type=submit]:hover{
    color: brown;
}