*{
    padding:0%;
    margin: 0;

}
body{
    background-color: aqua;
}
.fgt1{
    position: relative;
    top: 50px;
}
 
.cont{
    position: relative;
    top: 20px;
}
input[type=number], input[type=text]{
    position: relative;
    top:25px;
    display: inline-block;
}

input[type=submit], input[type=reset]{

    position: relative;
    top:25px;
    display: inline-block;
    padding: 8px 8px;
    background-color: black;
    color: beige;
}
input[type=submit]:hover, input[type=reset]:hover{
    color: brown;
}

button[type=submit]{
    background-color: black;
    color: antiquewhite;
    position: relative;
    text-align: center;
    top: 60px;
    padding: 4px 4px;
}
button[type=submit]:hover{
    color: brown;
}