@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin:0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html, body {
    height:100%; 
     
}

#registration-page {
    height:100%;
    background:#78a7ba; 
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:scroll;
}

.signup-form  {
    flex:1;
    max-width:600px;
    border-radius: 10px;
    background-color: #EFF0F1;
    border: 1px solid #999;
    margin-top: auto;
    margin-bottom:  auto;
  }
  
/* FORM HEADER */
.form-header {
    padding:15px 0;
    border-bottom:1px solid #cccccc;
}

.form-header h1 {
    font-size: 28px;
    text-align:center;
    color:#666;
}

/* FORM BODY */
.form-body {
    background:white;
    padding:5px 10px;
}

.row {
    display:flex; 
}
  
.input-group {
    flex:1;  
    display:flex;
    flex-direction:column; 
    margin:10px 5px;
}

/* FORM BODY - Gender & Hobbies */
.radio-group, .checkbox-group {
    display:flex;
  }
  
  .radio-group div, .checkbox-group div {
    flex:1;
  }
  
  .radio-group label, .checkbox-group label  {
    color:#666;
    cursor:pointer;
  }
/* FORM BODY - Source of Income & Income */
  .range-group {
    display:flex;
  }

  .range-group input {
      flex:1;
  }

  .range-group label {
    margin-left:10px;
    background-color: #1BBA93;
    color:white;
    border-radius: 5px;
    padding:5px;
    font-size:12px;
    text-align:center;
  }

/* MOBILE VIEW */
@media only screen and (max-width: 500px) {
    .row{
      flex-direction:column; 
    }

    .btn {
        flex:2;
    }
}


/* FORM FOTTER */
.form-footer {
    display:flex;
    justify-content: flex-end;
    gap: 2px;
    padding:10px;
}

.btn {
    padding:15px 22px;
    background-color: #1BBA93;
    font-size:15px;
    border:none;
    border-radius:8px;
    color:#080808;
    cursor:pointer;
    padding-left: 20px;
 }
 .btn2{
    padding:15px 22px;
    background-color: #1BBA93;
    font-size:15px;
    border:none;
    border-radius:8px;
    color:#090909;
    cursor:pointer;
    padding-right: 25px;
 }
 .btn:hover{
    color: #166fcf;
 }
.btn2:hover{
    color: #166fcf;
}
 /* INPUT*/

 label {
  color:#1BBA93;
  font-size: 17px;
  font-weight: 500;
}

input[type="text"],
input[type="email"] ,
input[type="password"],
input[type="file"],
input[type="number"],
select,
textarea  {
width:100%;

font-size: 18px;
height: 34px;
padding-left: 10px;
padding-right: 10px;
color: #666;
border: 1px solid #d6d6d6;
border-radius: 4px;
background: white;
outline: none;
}


textarea {
  resize: none;
  height:100px;
}