body{
  background-color: aqua;
}
table {
    font-family:"Comic Sans MS", cursive, sans-serif;
    border-collapse: collapse;
    width: 50%;
   
  }
  
  td, th {
    border: 2.5px solid rgb(5, 5, 5);
    text-align: left;
    padding: 8px;
    font-size:15px;
    color:rgb(42, 161, 212);
    background-color: white;
  
  }
.tab{
  position: absolute;
 text-align: center;
}
button{
    position: relative;
    top: 22px;
    padding: 12px 15px;
    margin-right:5px;
    background-color: rgb(170, 125, 66);
    font-weight: bold;  
}
button:hover{
    background-color: aqua;
}