{% load static %}
      
      <!DOCTYPE html>
      <html lang="en">
        
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content= "width=device-width, initial-scale=1.0">
        
          <title>About us </title>
        
          <!-- bootstrap linked-->
          <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity= "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <style>
          .about-section {
            padding: 50px;
            text-align: center;
            background-color: #474e5d;
            color: white;
          }
        </style>
        </head>
        
      <body>

        <div class="about-section">
            <h1>About Us Page</h1>
            <p>{{df.About_website}}</p>
            <p>They are fast, effective and understandable with everything you ask</p>
          </div>
 {% for t in gt %}
          <div class="container-flex p-0 m-0 align-items-center justify-content-center d-flex" style="min-height: 100vh; background-color: #498433;">
                     
        
              <!-- Row for the card-->
              <div class="row w-0 p-15 w-o">
        
                  <!-- Column for card-->
                  <div class="col-lg-0 mb-15 gb-2">
                      <div class="card mx-auto" style="width:18rem;">
                          <img class="card-img-top" src="{{t.Image.url}}" alt="{{t.First_name}} {{ t.Last_name }}">
        
                          <div class="card-body">
                              <h5 class="card-title">
                                  {{ t.First_name}} {{ t.Last_name }}
                              </h5>
                              <p class="card-text">
                                  {{ t.Introduction_brief}}
                              </p>
                              <p ><b>
                                {{ t.Qualification}}</p>

                          </div>
                        </div>
                    </div>
                </div>
            </div>
{% endfor %}
<div align="center" class="bg-dark">
<a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Back To Home</a>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>