{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'fgt.css' %}">
        <style>
            .container{
                position:relative;
                padding:50px;
                top:20px;
               
            }
        </style>
    </head>

<body>
<div class="container"  align="center">
<h2>create new password</h2><br><br>

<form action="{% url 'reset_psw' %}" method='post'>
    {% csrf_token %}
  <label for="password">password:</label><br>
  <input type="password" id="psw" name="psw1" value=""><br><br>
  <label for="password">conform password</label><br>
  <input type="password" id="psw2" name="c_psw" value=""><br><br>
  <input type="submit" value="Submit">
</form> 
</div>

</body>
</html>

